@font-face {
    font-family: Inter;
    src:url(./vendor/fonts/Inter/Inter-Regular.woff);
}
@font-face {
    src: url(./vendor/fonts/Inter/Inter-Regular.woff2) format('woff2');
    font-family: 'Inter';
}
@font-face {
    src: url(./vendor/fonts/Inter/Inter-Bold.woff) format('woff');
    font-family: 'Inter';
    font-weight: bold;
}
@font-face {
    src: url(./vendor/fonts/Inter/Inter-Bold.woff2) format('woff2');
    font-family: 'Inter';
    font-weight: bold;
}
@font-face {
    src: url(./vendor/fonts/Inter/Inter-SemiBold.woff) format('woff');
    font-family: 'Inter';
    font-weight: 600; /*взяла вес отсюда https://developer.mozilla.org/ru/docs/Web/CSS/font-weight*/
}
@font-face {
    src: url(./vendor/fonts/Inter/Inter-SemiBold.woff2) format('woff2');
    font-family: 'Inter';
    font-weight: 600;
} 
